<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h3>添加图片</h3>
            </div>
            <form id="defaultForm" class="form-horizontal" asp-controller="Admin" asp-action="CreatePhotos" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-lable">照片标题</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="PhotoName" id="PhotoName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">作者</label>
                    <div class="col-lg-5">
                        @if (ViewBag.Person == null)
                        {
                            <select name="Author" class="form-control">
                                @foreach(Author x in ViewBag.Authors)
                                {
                                    <option>@x.AuthorName</option>
                                }
                            </select>
                        }
                        else
                        {
                            <input type="text" class="form-control" name="Author" id="Author" value="@ViewBag.Person.AuthorName" disabled="disabled" />
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">照片标题</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Priority" id="Priority" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">照片描述</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Discription" id="Discription" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">选择照片</label>
                    <div class="col-lg-5">
                        <input type="file" class="form-control" name="file" id="file" formenctype="multipart/form-data" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-success" type="submit" value="提交" />
                        <a asp-controller="Admin" asp-action="DetailsPhotos">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script type="text/javascript">
    $("#send").click(function () {
        $.post("/Admin/CreatePhotos", {
            "PhotoName": $("#PhotoName").val(),
            "Discription": $("#Discription").val(),
            "Author": $("#Author").val(),
            "file": $("#file").val(),
        },function (data) {
                 if (data == "success") {
                     alert("上传成功");
                 }
                 else {
                     alert("上传失败");

                 }
             })
    });
</script>-->