<div class="container-fluid">
    <div class="row">
        <!--添加图片页面-->
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h3>添加图片</h3>
            </div>
            <form id="defaultForm" class="form-horizontal" asp-action="CreatePhotos" asp-controller="Admin" enctype="multipart/form-data" method="post">
                <input type="hidden" name="AuthorId" value="@ViewBag.Author.Id" />
                <div class="form-group">
                    <label class="col-lg-3 control-lable">照片标题</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Title" id="Title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">作者</label>
                    <div class="col-lg-5">
                        <input class="form-control" value="@ViewBag.Author.AuthorName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">优先级</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Priority" id="Priority" value="10" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">照片描述</label>
                    <div class="col-lg-5">
                        <textarea class="form-control" name="Describe" id="Describe"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-lable">选择照片</label>
                    <div class="col-lg-5">
                        <input type="file" class="form-control" name="file" id="file" formenctype="multipart/form-data" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-success" type="submit" value="提交" />
                        <a asp-controller="Admin" asp-action="DetailsAuthor">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#defaultForm").bootstrapValidator({
            message: '该值没有被验证',
            feedbackIcons: {
                valid:'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                Title: {
                    message: '图片还没有验证',
                    validators: {
                        notEmpty: {
                            message: '图片不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9a-zA-Z\u4e00-\u9fa5][a-zA-Z0-9_\u4E00-\u9FA5]{0,6}$/,
                            message: '图片名称长度在1到7位之间,可以包括数字，字母，中文,下划线。不能包括特殊字符。'
                        }
                    }

                },
                Priority: {
                    message: '优先级还没有验证',
                    validators: {
                        notEmpty: {
                            message: '优先级不能为空,默认为100.'
                        },
                        regexp: {
                            regexp: /^[0-9]{0,2}$/,
                            message: '数字1的优先级最大依次减小，优先级只能为数字，并且范围在（0-100）之间。'
                        }
                    }

                },
                Describe: {
                    validators:{
                        stringLength: {
                            min: 30,
                            max: 140,
                            message: '描述内容不能低于30字，不高于140字。请认真描述哟。'
                        }

                    }

                },
                file: {
                    validators: {
                        notEmpty: {
                            message: '请上传文件'
                        }
                    }

                }

            },

        });

    });
</script>
