<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css" />
    <link rel="stylesheet" href="~/styles/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="~/styles/bootstrap-datetimepicker.min.css" />
    <link href="~/styles/_Layout.css" rel="stylesheet" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrapValidator.min.js"></script>
</head>
<body class="LayoutPage">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="col-md-2 title">
                <a asp-action="Manage" asp-controller="Home">
                    <span id="logo">
                        后台首页
                    </span>
                </a>
            </div>
            <div>
                <form class="navbar-form navbar-left" asp-action="Searching" asp-controller="Admin" role="search" >
                    <div class="form-group">
                        <input type="text" class="form-control" name="Id" id="Id" placeholder="搜索作品/作者/题目">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>
                
            </div>
            <span style="float:right; position:absolute; top:8px; right:8px; display:inline-block;">
                <button style="display:none; " type="button" class="btn" id="pull"><i class="glyphicon glyphicon-th-list"></i>  </button>
            </span>
        </div>
        <div class="clr"></div>
    </nav>
    <div style="position:relative; top:50px;">
        <div class="row">
            <div class="col-md-2" id="pullset">
                <aside class="left-aside">
                    <div class="user">
                        
                        

                    </div>
                    <ul id="main-nav" class="nav-list">
                        <li>
                            <a asp-action="Index" asp-controller="Home" target="_blank">
                                <i class="glyphicon glyphicon-home"></i>
                                网站首页
                            </a>
                        </li>
                        <li>
                            <a href="#set" class="collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-leaf"></i>
                                管理投稿
                            </a>
                            <ul id="set" class="collapse secondmenu">
                                <li><a asp-controller="Admin" asp-action="DetailsPhotos">图片管理</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#set1" class="collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-leaf"></i>
                                作者
                            </a>
                            <ul id="set1" class="collapse secondmenu">
                                <li><a asp-action="CreateAuthor" asp-controller="Admin">作者添加</a></li>
                                <li><a asp-action="DetailsAuthor" asp-controller="Admin">作者管理</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a asp-action="Login" asp-controller="Account">
                                <i class="glyphicon glyphicon-off"></i>
                                退出后台
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#defaultForm").bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Id: {
                        message: '作者序号没有验证',
                        validators: {
                            notEmpty: {
                                message: '作者序号不能为空'
                            },
                            regexp: {
                                regexp: /^[0-9]{0,6}$/,
                                message: '作者序号只能是数字'
                            }
                        }

                    },
                    
                }
            });


            $("#main-nav li a").click(function () {
                $(this).css("background", "#eee");
            });
        });
        var oPull = document.getElementById('pull');
        var oPullSet = document.getElementById('pullset');

        //判断当前浏览器大小
        fun();
        function fun(){
            if(window.innerWidth <990){
                oPull.style.display = 'block';
                oPullSet.style.display = 'none';
            }
        };

        window.onresize = function fun(){
            if (window.innerWidth < 990) {
                oPull.style.display = 'block';
            } else {
                oPull.style.display = 'none';
                oPullSet.style.display = 'block';
            }
        };

        oPull.onclick = function () {
            if (oPullSet.style.display == 'block') {
                oPullSet.style.display = 'none';

            } else {
                oPullSet.style.display = 'block';
            }
        };
    </script>
</body>
</html>
