<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css" />
    <link rel="stylesheet" href="~/styles/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="~/styles/bootstrap-datetimepicker.min.css" />
    <link href="~/styles/_Layout.css" rel="stylesheet" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrapValidator.min.js"></script>
</head>
<body class="LayoutPage">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="col-md-2 title">
                <a asp-action="Manage" asp-controller="Home">
                    <span id="logo">
                        后台首页
                    </span>
                </a>
            </div>
            <span style="float:right; position:absolute; top:8px; right:8px; display:inline-block;">
                <button style="display:none; " type="button" class="btn" id="pull"><i class="glyphicon glyphicon-th-list"></i>  </button>
            </span>
        </div>
        <div class="clr"></div>
    </nav>
    <div style="position:relative; top:50px;">
        <div class="row">
            <div class="col-md-2" id="pullset">
                <aside class="left-aside">
                    <ul id="main-nav" class="nav-list">
                        <li>
                            <a asp-action="Index" asp-controller="Home" target="_blank">
                                <i class="glyphicon glyphicon-home"></i>
                                网站首页
                            </a>
                        </li>
                        <li>
                            <a asp-action="DetailsWebTitle" asp-controller="Admin">
                                <i class="glyphicon glyphicon-comment"></i>
                                标题管理
                            </a>

                        </li>
                        <li>
                            <a href="#set1" class="collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-user"></i>
                                作者管理
                            </a>
                            <ul id="set1" class="collapse secondmenu">
                                <li><a asp-action="CreateAuthor" asp-controller="Admin">作者添加</a></li>
                                <li><a asp-action="DetailsAuthor" asp-controller="Admin">作者管理</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#set" class="collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-picture"></i>
                                管理投稿
                            </a>
                            <ul id="set" class="collapse secondmenu">
                                <li><a asp-controller="Admin" asp-action="DetailsPhotos">投稿管理</a></li>
                                <li><a asp-controller="Admin" asp-action="DetailsHandwriting">书法类</a></li>
                                <li><a asp-controller="Admin" asp-action="DetailsPhotograph">摄影类</a></li>
                                <li><a asp-controller="Admin" asp-action="DetailsSketch">素描类</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#set2" class="collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-tower"></i>
                                活动管理
                            </a>
                            <ul id="set2" class="collapse secondmenu">
                                <li><a asp-action="CreateActivity" asp-controller="Admin">活动添加</a></li>
                                <li><a asp-action="DetailsActivity" asp-controller="Admin">活动管理</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("超级管理员"))
                        {
                            <li>
                                <a href="#set3" class="collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    管理员列表
                                </a>
                                <ul id="set3" class="collapse secondmenu">
                                    <li><a asp-action="CreateAdmin" asp-controller="Account">管理员添加</a></li>
                                    <li><a asp-action="DetailsAdmin" asp-controller="Account">查看管理员</a></li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="javascript:$('#Logout').submit()">
                                <i class="glyphicon glyphicon-off"></i>
                                退出后台
                            </a>
                        </li>
                    </ul>
                    <form asp-action="Logout" asp-controller="Account" id="Logout"></form>
                </aside>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#main-nav li a").click(function () {
                $(this).css("background", "#eee");
            });
        });
        var oPull = document.getElementById('pull');
        var oPullSet = document.getElementById('pullset');

        //判断当前浏览器大小
        fun();
        function fun(){
            if(window.innerWidth <990){
                oPull.style.display = 'block';
                oPullSet.style.display = 'none';
            }
        };

        window.onresize = function fun(){
            if (window.innerWidth < 990) {
                oPull.style.display = 'block';
            } else {
                oPull.style.display = 'none';
                oPullSet.style.display = 'block';
            }
        };

        oPull.onclick = function () {
            if (oPullSet.style.display == 'block') {
                oPullSet.style.display = 'none';

            } else {
                oPullSet.style.display = 'block';
            }
        };
    </script>
</body>
</html>
