@model Activity
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">活动相关</li>
        </ol>
    </div>
    <div class="col-lg-9">
        <div class="col-lg-12">
            <h3>活动内容</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
        推荐作品
    </div>
</div>